<div class="ui parent container" *ngIf="compDetails">
    <div class="ui info message" *ngIf="compDetails.participants.includes(userId)">
        You Are Attending This Competition
    </div>
<div class="ui stackable grid container">
    <div class="nine wide column">
        <img class="ui big rounded image" src="{{compDetails.cover}}">
    </div>
    <div class="seven wide column">
        <h1 class="ui header">
           {{compDetails.comp}}
        </h1>
        <a class="ui orange label" *ngFor="let tag of compDetails.tags">{{tag}}</a>
        <a class="ui teal label">{{compDetails.status}}</a>
        <div class="ui divider"></div>
        <h4 class="ui header">
            <i class="map marker alternate icon"></i>{{compDetails.venue}}
        </h4>
        <h4 class="ui header">
            <i class="user circle icon"></i> Organized by {{organiser.name}}
        </h4>
        <h4 class="ui header">
            <i class="smile icon"></i> {{compDetails.participants.length}} Attendees
        </h4>
        <h4 class="ui header">
            <i class="calendar icon"></i> {{compDetails.date | date}}
        </h4>
        <h4 class="ui header">
            <i class="clock icon"></i>{{compDetails.time}}
        </h4>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid container">
    <div class="nine wide column">
        <h2 class="ui header">Event Details</h2>
        <div class="content">
            {{compDetails.info}}
        </div>
    </div>
    <div class="seven wide column">
        <h3 class="ui header">
            Organizer
        </h3>
        <div class="row">
            <a [routerLink]="['/profile',organiser._id]">
                <img class="ui tiny rounded image" src="{{organiser.logo}}">
            </a>
        </div>
        <h3 class="ui header">
            Attendees ({{compDetails.participants.length}})
        </h3>
        <ng-container *ngIf="participants">
        <div class="row">
           <a *ngFor="let participant of participants" [routerLink]="['/profile',participant._id]">
            <img class="ui avatar image" src="{{participant.logo}}" aria-label="Competition Participant" alt="{{participant.name}}">
        </a> 
        </div>
        </ng-container>
        <div class="ui hidden divider"></div>
        <button class="ui positive button" (click)="showStatus = true">
            View All
        </button>
    </div>
</div>
</div>
<app-attend-navbar [compId]="compDetails._id" [date]="compDetails.date" [time]="compDetails.time" [title]="compDetails.comp" [participants]="compDetails.participants"></app-attend-navbar>

<div class="ui centered grid container" *ngIf="showStatus">
    <div class="six wide computer fourteen wide mobile twelve wide tablet column">
        <div class="ui raise segment">
        <div class="ui centered header">
            <h3 class="ui header">
                All Attendees
            </h3>
            <div class="ui divider"></div>
        </div>
        <div class="ui list">
            <div class="item" *ngFor="let participant of participants">
                <img class="ui avatar image" src="{{participant.logo}}">
                <div class="content">
                  <a class="header" [routerLink]="['/profile',participant._id]">{{participant.name}}</a>
                  <div class="description">@{{participant.username}}</div>
                </div>
              </div>
        </div>
        <button class="ui negative fluid button" (click)="showStatus = false">Close</button>
        </div>
    </div>
</div>

