<div class="ui stackable grid container">
    <div class="nine wide column">
        <img class="ui big rounded image" src="signup.jpg">
    </div>
    <div class="seven wide column">
        <h1 class="ui header">
            Google Developer Group
        </h1>
        <a class="ui orange label">Technology</a>
        <a class="ui teal label">Pending</a>
        <div class="ui divider"></div>
        <h4 class="ui header">
            <i class="map marker alternate icon"></i> Bangalore, India
        </h4>
        <h4 class="ui header">
            <i class="user circle icon"></i> Organized by Christ University
        </h4>
        <h4 class="ui header">
            <i class="smile icon"></i> 500 Attendees
        </h4>
        <h4 class="ui header">
            <i class="calendar icon"></i> 15th Feb, Friday
        </h4>
        <h4 class="ui header">
            <i class="clock icon"></i> 5:30 PM
        </h4>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid container">
    <div class="nine wide column">
        <h2 class="ui header">Event Details</h2>
        <div class="content">
            Google Developer Group (GDG)
            When you join a Google Developer Group, 
            you’ll have the opportunity to meet local 
            developers with similar interests in technology. 
            A GDG meetup event includes talks on a wide range 
            of technical topics where you can learn new skills 
            through hands-on workshops. The community prides 
            itself on being an inclusive environment where 
            everyone and anyone interested in tech - from beginner
             developers to experienced professionals - all are welcome to join.
        </div>
    </div>
    <div class="seven wide column">
        <h3 class="ui header">
            Organizer
        </h3>
        <div class="row">
            <img class="ui tiny rounded image" src="assets/loginback.jpg">
        </div>
        <h3 class="ui header">
            Attendees (500)
        </h3>
        <div class="row">
            <img class="ui avatar image" src="assets/loginback.jpg">
            <img class="ui avatar image" src="assets/loginback.jpg">
            <img class="ui avatar image" src="assets/loginback.jpg">
            <img class="ui avatar image" src="assets/loginback.jpg">
        </div>
        <div class="ui hidden divider"></div>
        <button class="ui positive button">
            View All
        </button>
    </div>
</div>
<app-attend-navbar></app-attend-navbar>


