<div class="ui parent container" *ngIf="compDetails">
<div class="ui stackable grid container">
    <div class="nine wide column">
        <img class="ui big rounded image" src="{{compDetails.cover}}">
    </div>
    <div class="seven wide column">
        <h1 class="ui header">
           {{compDetails.comp}}
        </h1>
        <a class="ui orange label" *ngFor="let tag of compDetails.tags">{{tag}}</a>
        <a class="ui teal label">{{compDetails.status}}</a>
        <div class="ui divider"></div>
        <h4 class="ui header">
            <i class="map marker alternate icon"></i>{{compDetails.venue}}
        </h4>
        <h4 class="ui header">
            <i class="user circle icon"></i> Organized by {{organiser.name}}
        </h4>
        <h4 class="ui header">
            <i class="smile icon"></i> {{compDetails.participants.length}} Attendees
        </h4>
        <h4 class="ui header">
            <i class="calendar icon"></i> {{compDetails.date | date}}
        </h4>
        <h4 class="ui header">
            <i class="clock icon"></i>{{compDetails.time}}
        </h4>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid container">
    <div class="nine wide column">
        <h2 class="ui header">Event Details</h2>
        <div class="content">
            {{compDetails.info}}
        </div>
    </div>
    <div class="seven wide column">
        <h3 class="ui header">
            Organizer
        </h3>
        <div class="row">
            <img class="ui tiny rounded image" src="{{organiser.logo}}">
        </div>
        <h3 class="ui header">
            Attendees ({{compDetails.participants.length}})
        </h3>
        <div class="row">
            <img class="ui avatar image" src="assets/loginback.jpg">
            <img class="ui avatar image" src="assets/loginback.jpg">
            <img class="ui avatar image" src="assets/loginback.jpg">
            <img class="ui avatar image" src="assets/loginback.jpg">
        </div>
        <div class="ui hidden divider"></div>
        <button class="ui positive button">
            View All
        </button>
    </div>
</div>
</div>
<app-attend-navbar [date]="compDetails.date" [time]="compDetails.time" [title]="compDetails.comp" [participants]="compDetails.participants"></app-attend-navbar>


