<div class="ui centered grid container" *ngIf="showStatus">
     <div class="six wide computer fourteen wide mobile twelve wide tablet column">
        <div class="ui raise segment">
            <div class="ui  centered header">
                {{Evt.event}}
            </div>
            <div class="ui centered medium header">
                <img class="ui rounded medium image" *ngIf="organizer" src="{{organizer.logo}}">
                <div class="content">
                    <a class="header" *ngIf="organizer">{{organizer.name}}r</a>
                  </div>
            </div>
            <div class="ui centered header">
              <a class="ui black label" *ngFor="let tag of Evt.tags">{{tag}}</a>
              <a class="ui orange label">{{Evt.status}}</a>
            </div>
            <div class="ui divider"></div>
            <div class="ui stackable two column row grid">
                <div class="ui stretched column">
                <img class="ui rounded image" src="{{Evt.cover}}">
                </div>
                <div class="column">
                    <div class="ui relaxed list">
                        <div class="item">
                            <i class="user outline icon"></i>
                            <div class="content">
                              <a class="header"> {{Evt.attenders.length}} People Interested</a>
                            </div>
                          </div>
                          <div class="item">
                            <i class="building outline icon"></i>
                            <div class="content">
                              <a class="header">
                                <b data-tooltip="Open In Map" data-position="bottom center"  data-inverted="">{{Evt.venue}}</b>
                              </a>
                            </div>
                          </div>
                          <div class="ui divider"></div>
                          <div class="item">
                            <p>
                              {{Evt.info | shrinkText : 90}}
                           </p>
                          </div>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui computer only row grid container">
                <!-- <button class="ui positive right labeled icon button">
                    <i class="heart outline icon"></i>
                    I'm Interested
                </button> -->
                <button (click)="attend(Evt._id)" *ngIf="!Evt.attenders.includes(userId) else attending"
                class="ui black right labeled icon button right floated left aligned six wide column">
                    <i class="thumbs up icon"></i>
                    I'm Attending
                </button>
            </div>
            <div class="ui mobile only row grid container">
              <div class="ui buttons">
                <button class="ui black button">Interested</button>
                <div class="or"></div>
                <button class="ui positive button">Attending</button>
              </div>
          </div>
            <!-- <div class="ui top attached centered header">
                <h2 class="ui header">Details</h2>
            </div>
            <div class="ui attached segment">

            </div> -->
            <div class="ui hidden divider"></div>
            <button class="ui negative fluid button" (click)="updateParent(false)">Close</button>
        </div>
     </div>
</div>
<ng-template #attending>
  <a class="ui red right corner label">
    <i class="check icon"></i>
  </a>
</ng-template>