<nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        Ommon.com      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/User">
          Home
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-action="Add Event" (click)="modalOpenState = true;">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>
                  Add
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.8.0/bulma-0.8.0.zip">
                <a href="/timeline"><span>Timeline</span></a>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary">
                <a (click)="openChats()"><span>Inbox</span></a>
              </a>
            </p>
            <p class="control">
              <a class="button is-danger">
                <a (click)="logOut()"><span>log Out</span></a>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <app-post-event [openState]="modalOpenState" (closeState)="turnOffAddEvent($event)"></app-post-event>
