<div class="ui grid">
    <div class="sixteen wide column" [ngStyle]="{'background':'url('+tagBack+')'}">
        <div class="tagpl">
            <span class="tag">
                #{{tagCat}}
            </span>
        </div>
    </div>
</div>
<div class="ui  three column  stackable grid container" *ngIf="competitions">
    <div class="column" *ngFor="let comp of competitions">
        <a class="ui red right corner label" *ngIf="comp.participants.includes(userId)">
            <i class="check icon"></i>
          </a>
        <div class="col-content" [ngStyle]="{background : 'url(' + comp.cover +')'}">
        <h2 class="ui header eventTitle">
            {{comp.comp}}
        </h2>
        <div class="ui divider"></div>
        <div class="extra content">
            <h5 class="ui header left floated">
                {{comp.participants.length}} Attendees
            </h5>
            <a [routerLink]="['/competition-page',comp._id]" routerLinkActive="active">
            <button  class="ui positive button right floated interested">
                View Competition
            </button>
            </a>
        </div>
    </div>
    </div>
</div>
