<div class="ui  three column  stackable grid container">
        <div class="column" *ngFor="let event of events">
            <div class="col-content" [ngStyle]="{background : 'url(' + event.image +')'}">
            <h2 class="ui header eventTitle">
                {{event.title}}
            </h2>
            <div class="ui divider"></div>
            <div class="extra content">
                <h5 class="ui header left floated">
                    {{event.people}} People Interested
                </h5>
                <button class="ui positive right floated right labeled icon button interested">
                    <i class="heart outline icon"></i>
                    I'm Interested
                </button>
            </div>
        </div>
        </div>
</div>