<div class="ui four column centered grid">
    <div class="fifteen wide mobile eight wide computer column">
        <h3 class="ui top attached header center aligned inverted">Add Event Details</h3>
        <div class="ui raised attached segment">
          <img class="ui rounded centered medium image" src="assets/events.gif">
          <div class="ui divider"></div>
              <div class="ui fluid form">
                  <form [formGroup]="addEvent" (ngSubmit)="onSubmit(addEvent.value)">
                    <div class="field">
                      <input placeholder="Title"  formControlName="event" type="text">
                      <div class="ui pointing red basic label"  *ngIf="event.errors?.required && !event.pristine">
                            Title Is Required
                     </div>
                    </div>
                    <div class="field">
                      <textarea placeholder="Description" formControlName="info"></textarea>
                      <div class="ui pointing red basic label"  *ngIf="info.errors?.required && !info.pristine">
                            Dsecription Is Required
                     </div>
                    </div>
                    <div class="field">
                      <input placeholder="Start Date" formControlName="date" type="date">
                      <div class="ui pointing red basic label"  *ngIf="date.errors?.required && !date.pristine">
                       Date Is Required
                    </div>
                    </div>
                    <div class="field">
                      <input [ngxTimepicker]="timepicker" formControlName="time">
                      <ngx-material-timepicker #timepicker></ngx-material-timepicker>
                        <div class="ui pointing red basic label"  *ngIf="time.errors?.required && !time.pristine">
                          Time Is Required
                      </div>
                      </div>
                    <div class="field">
                    <input type="radio" formControlName="status">Active
                    <input type="radio" formControlName="status">Inactive
                    <input type="radio" formControlName="status">Petition
                    <div class="ui pointing red basic label"  *ngIf="status.errors?.required && !status.pristine">
                            Select The Event Status
                     </div>
                    </div>
                    <div class="field">
                        <input placeholder="End Time" formControlName="venue" type="text">
                        <div class="ui pointing red basic label"  *ngIf="venue.errors?.required && !venue.pristine">
                               Venue Is Required
                         </div>
                        </div>
                    <div class="field">
                    <!-- <input placeholder="Cover" formControlName="cover" type="file" (change)="uploadFile($event)"> -->
                    <!-- <div class="ui pointing red basic label"  *ngIf="addEvent.controls['confirmPassword'].hasError('NoPassswordMatch') && !confirmPassword.pristine">
                     Password and Confirm Password Should Match
                    </div> -->
                        </div>
                        <div class="field">
                          <div class="two ui buttons">
                            <input class="ui  positive button" [disabled]="addEvent.pristine || addEvent.invalid" type="Submit" value="Post Event">
                            <button class="ui negative button" [disabled]="addEvent.pristine" (click)="addEvent.reset();">Reset</button>
                          </div>
                        </div>
                </form>
                </div>
          </div>
        </div>
  </div>

