<div class="ui four column centered grid">
    <div class="fifteen wide mobile eight wide computer column">
        <h3 class="ui top attached header center aligned inverted">Add Event Details</h3>
        <div class="ui raised attached segment">
          <img class="ui rounded centered small image" src="assets/events.gif">
          <div class="ui divider"></div>
              <div class="ui fluid form">
                  <form [formGroup]="addEvent" (ngSubmit)="onSubmit(addEvent.value)">
                    <div class="field">
                      <label>Event Title</label>
                      <input  formControlName="event" type="text">
                      <div class="ui pointing red basic label"  *ngIf="event.errors?.required && !event.pristine">
                            Title Is Required
                     </div>
                    </div>
                    <div class="field">
                      <label>Event Description</label>
                      <textarea formControlName="info"></textarea>
                      <div class="ui pointing red basic label"  *ngIf="info.errors?.required && !info.pristine">
                            Description Is Required
                     </div>
                    </div>
                    <div class="field">
                      <label>Event Date</label>
                      <input matInput [matDatepicker]="datepicker"
                             formControlName="date">
                      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                      <mat-datepicker #datepicker></mat-datepicker>
                    <div class="ui pointing red basic label"  *ngIf="date.errors?.required && !date.pristine">
                     Date Is Required
                  </div>
                  </div>
                    <div class="field">
                      <label>Event Time</label>
                      <input [ngxTimepicker]="timepicker" formControlName="time">
                      <ngx-material-timepicker #timepicker></ngx-material-timepicker>
                        <div class="ui pointing red basic label"  *ngIf="time.errors?.required && !time.pristine">
                          Time Is Required
                      </div>
                      </div>
                    <div class="field">
                      <mat-radio-group aria-label="Select an option" formControlName="status">
                        <mat-radio-button value="active" name="event-status">
                            <a class="ui red horizontal label">Active</a>
                        </mat-radio-button>
                        <mat-radio-button value="inactive" name="event-status">
                            <a class="ui black horizontal label">Inactive</a>
                        </mat-radio-button>
                        <mat-radio-button value="petition" name="event-status">
                            <a class="ui yellow horizontal label">Petition</a>
                        </mat-radio-button>
                      </mat-radio-group>
                    <div class="ui pointing red basic label"  *ngIf="status.errors?.required && !status.pristine">
                            Select The Event Status
                     </div>
                    </div>
                    <div class="field">
                      <label>Event Venue</label>
                        <input formControlName="venue" type="text">
                        <div class="ui pointing red basic label"  *ngIf="venue.errors?.required && !venue.pristine">
                               Venue Is Required
                         </div>
                        </div>
                        <div class="field">
                          <label>Competition Cover</label>
                          <input placeholder="Cover" type="file" (change)="uploadFile($event)">
                        </div>
                    <div class="field">
                    <label>Add Tags</label>
                    <mat-chip-list #chipList aria-label="Add Tags">
                        <input class="tagInput"
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event)"
                               formControlName="tags">
                               <mat-chip *ngFor="let tag of tagsArr" [selectable]="selectable"
                               [removable]="removable" (removed)="remove(tag)">
                        {{tag.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      </mat-chip-list>
                        </div>
                        <div class="field">
                          <div class="two ui buttons">
                            <input class="ui  positive button" [disabled]="addEvent.pristine || addEvent.invalid" type="Submit" value="Post Event">
                            <button class="ui negative button" [disabled]="addEvent.pristine" (click)="addEvent.reset();">Reset</button>
                          </div>
                        </div>
                </form>
                </div>
          </div>
        </div>
  </div>

