<div class="ui grid container">
    <div class="ui centered stackable link cards">
        <div class="card">
          <div class="content">
            <img class="right floated ui avatar image" src="assets/coding.png">
            <div class="header">
              Hackathon Partnership
            </div>
            <div class="meta">
              Posted By Dhananjay
            </div>
            <div class="description">
                local developers with similar interests in technology. 
                A GDG meetup event includes talks on a wide range of 
                technical topics where you can learn new skills
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button" (click)="showNotif()">Approve</div>
              <div class="ui basic red button">Decline</div>
            </div>
          </div>
        </div>
      </div>
</div>