<div class="ui grid container">
    <div class="ui centered stackable link cards">
        <div class="card" *ngFor="let pl of [0,1,2,3,4,5,6,7,8]">
          <div class="content">
            <img class="right floated ui avatar image" src="assets/coding.png">
            <div class="header">
              Post Title
            </div>
            <div class="meta">
              Posted By
            </div>
            <div class="description">
                local developers with similar interests in technology. 
                A GDG meetup event includes talks on a wide range of 
                technical topics where you can learn new skills
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button">Approve</div>
              <div class="ui basic red button">Decline</div>
            </div>
          </div>
        </div>
      </div>
</div>