<div class="ui four column relaxed centered grid" *ngIf="openState">
  <div class="close"  (click)="closeEventsModal()">
    <span>
      X
    </span>
  </div>
  <div class="stackable row">
    <div class="column">
      <div class="action-mask">
        <h2 class="ui center aligned icon header">
          <a [routerLink]="['/create-competition']"><i class="add icon" (click)="closeEventsModal()"></i></a>
        </h2>
    </div>
    <div class=" post-container"  [ngStyle]="{background : 'url(assets/comps.gif)'}"></div>
    <div class="ui center aligned header type-text">
    </div>
    </div>
    <div class="column">
      <div class="action-mask">
        <h2 class="ui center aligned icon header">
          <a [routerLink]="['/create-event']"><i class="add icon" (click)="closeEventsModal()"></i></a>
        </h2>
    </div>
    <div class=" post-container"  [ngStyle]="{background : 'url(assets/events.gif)'}"></div>
    <div class="ui center aligned header type-text">
    </div>
    </div>
    <div class="column">
      <div class="action-mask">
        <h2 class="ui center aligned icon header">
          <a [routerLink]="['/create-collab']"><i class="add icon" (click)="closeEventsModal()"></i></a>
        </h2>
    </div>
    <div class=" post-container"  [ngStyle]="{background : 'url(assets/collabs.gif)'}"></div>
    <div class="ui center aligned header type-text">
    </div>
    </div>
  </div>
</div>