<div class="columns is-gapless">
    <div class="column is-4 is-multiline">
        <div class="box">
            <h3 class="title">
                SignUp
            </h3>
            <h6 class="subtitle is-6">
                Join The Biggest Network Of Professional Students.
            </h6>
            <div class="field input-control">
                <input type="text" class="input-contains-icon" placeholder="Your Name"/>
                <span class="icon"><i class="fa fa-wrapper fa-user"></i></span>
            </div>
            <div class="field input-control">
                <input type="text" class="input-contains-icon" placeholder="Your Phone Number"/>
                <span class="icon"><i class="fa fa-wrapper fa-phone"></i></span>
            </div>
            <div class="field input-control">
                <input type="email" class="input-contains-icon" placeholder="Your Email"/>
                <span class="icon"><i class="fa fa-wrapper fa-envelope"></i></span>
            </div>
            <div class="field input-control">
                <input type="text" class="input-contains-icon" placeholder="Your Date Of birth"/>
                <span class="icon"><i class="fa fa-wrapper fa-calendar"></i></span>
            </div>
            <div class="field input-control">
                <input type="text" class="input-contains-icon" placeholder="What Is The Name Of your College?"/>
                <span class="icon"><i class="fa fa-wrapper fa-university"></i></span>
            </div>
            <div class="field input-control">
                <input type="text" class="input-contains-icon" placeholder="Which Course Are You Pursuing?"/>
                <span class="icon"><i class="fa fa-wrapper fa-graduation-cap"></i></span>
            </div>
            <div class="field input-control">
                <input type="checkbox" class="input-contains-icon" placeholder="Which Course Are You Pursuing?"/>
                I Accept All The Terms And Policies Provided By Ommon.Com
            </div>
            <div class="level">
                <button class="button is-success fluid">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                      </span>
                      <span>SignUp</span>
                </button>
                <button class="button is-danger">
                    <span class="icon">
                        <i class="fas fa-times"></i>
                      </span>
                      <span>Reset</span>
                </button>
            </div>
              <div class="field has-text-centered">
                <button class="button is-small is-rounded is-dark">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>SignUp With GitHub</span>
                </button>
              </div>
              <div class="field has-text-centered">
                  <button class="button is-small is-rounded is-blue">
                    <span class="icon">
                      <i class="fab fa-linkedin"></i>
                    </span>
                    <span>SignUp With LinkedIn</span>
                  </button>
                </div>
                <div class="field has-text-centered">
                  <h6 class="title is-6">
                     Already A User? Log In 
                      <a href="\login">Here</a>
                  </h6>
                </div>
        </div>
    </div>
    <div class="column is-8 is-multiline">
        <div class="is-image-holder"></div>
            <div class="card">
                <div class="card-content">
                  <p class="title">
                    Ommon.com is the ultimate place to build scholar networks, manage events and connect with professional students.
                    Don't Beleive it, try it yourself!
                  </p>
                  <p class="subtitle">
                     - Ommon.Com
                  </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                          <h5 class="subtitle is-6">
                        Create, Collaborate & Participate
                    </h5>
                      </span>
                    </p>
                  </footer>
              </div>
    </div>
</div>
