    <div class="twelve wide column timeline">
    <h3 class="ui centered header row">
        Timeline
    </h3>
    <ng-container *ngIf="timeline && timeline.length > 0 else timelinePlaceholder">
        <div class="ui grid" *ngFor="let event of timeline">
            <div class="two wide stretchable column">
                <div class="notif-label">
                    <i class="ui user icon"></i>
                </div>
                <div class="stretched-divider">

                </div>
            </div>
            <div class="fourteen wide column">
                <h3 class="ui top attached success message">
                    <i class="check icon"></i>
                    {{event.eveId}}
                    <a class="ui right floated black label small header">{{event.pointsAwarded}}</a>
                </h3>
            <div class="ui attached segment">
                <a class="ui orange left ribbon label">{{event.messageType}}</a>
                <h3 class="ui header right floated">
                    {{event.date | date}}
                </h3>
                    <div class="ui header">
                    <img class="ui avatar image" src="assets/comps.gif">
                    {{event.message}}
                    </div>
                
            </div>
        </div>
        </div>
        <!-- <button class="ui primary fluid button">
            View Previous Activity
        </button> -->
    </ng-container>
    </div>

<ng-template #timelinePlaceholder>
    <h1 class="ui header messagepl">
        Nothing To See Here! No Activity Yet.
    </h1>
</ng-template>
