<div class="ui centered grid container">
    <div class="twelve wide column timeline">
    <h3 class="ui centered header row">
        Timeline
    </h3>
        <div class="ui grid">
            <div class="two wide stretchable column">
                <div class="notif-label">
                    <i class="ui user icon"></i>
                </div>
                <div class="stretched-divider">

                </div>
            </div>
            <div class="fourteen wide column">
                <h3 class="ui top attached success message">
                    <i class="check icon"></i>
                    Participating In A Competition 
                </h3>
            <div class="ui attached segment">
                <a class="ui orange left ribbon label">All The Best!</a>
                <h3 class="ui header right floated">
                    Friday, 23 January
                </h3>
                    <div class="ui header">
                    <img class="ui avatar image" src="assets/comps.gif">
                    You Are Participating In <a>Hackathon Event</a>
                    </div>
                
            </div>
        </div>
        </div>
        <div class="ui grid">
            <div class="two wide stretchable column">
                <div class="notif-label">
                    <i class="ui trophy icon"></i>
                </div>
                <div class="stretched-divider">

                </div>
            </div>
            <div class="fourteen wide column">
                <h3 class="ui top attached yellow message">
                    <i class="check icon"></i>
                    Won A Competition
                </h3>
            <div class="ui attached segment">
                <a class="ui teal left ribbon label">Congratulations!</a>
                <h3 class="ui header right floated">
                    Monday, 28 January
                </h3>
                    <div class="ui header">
                    <img class="ui avatar image" src="assets/comps.gif">
                    You Won The <a>Hackathon Event</a>.
                    </div>
                
            </div>
        </div>
        </div>
        <button class="ui primary fluid button">
            View Previous Activity
        </button>
    </div>
</div>
